body {
    font-family: Arial, sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: black;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

input[type="number"] {
    padding: 10px;
    width: 60%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid blackS;
}
.VP{
    color: white;
}

button {
    padding: 10px 20px;
    background: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: darkgray;
}

.result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

/* Toast style */
#toast {
    visibility: visible;
    min-width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Hide number input arrows */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

@media (max-width: 600px) {
    .password-box {
        top: 5px;
        right: 5px;
        padding: 8px 10px;
        font-size: 0.9rem;
    }

    .container {
        margin: 50px 10px;
        padding: 20px;
    }
}
